<mat-card>
  <mat-toolbar color="primary">
    <span>Cursos disponiveis</span>
  </mat-toolbar>
  <div class="mat-elevation-z8 column-flex">
    @defer( when courses()){
    <app-courses-list [courses]="courses()" (add)="onAdd()" (edit)="onEdit($event)"
      (delete)="onDelete($event)"></app-courses-list>
    <mat-paginator [length]="totalElements()" [pageIndex]="pageIndex" [pageSize]="pageSize"
      (page)="handlePageEvent($event)" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page">
    </mat-paginator>

    } @placeholder {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
    }
  </div>
</mat-card>